<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title></title>
        <meta charset="utf-8"/>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    </head>
    <body>
        <hr>
        <form th:action="@{/saveUser}" method="post">
            <input type="" name="username" placeholder="username">
            <input type="password" name="password" placeholder="password">
            <input type="submit" value="go!">
        </form>
        <hr>

   
        <h2>[[${message}]]</h2>


        <form action="/save" method="POST" enctype="multipart/form-data">
            <input type="" name="name" placeholder="name">
            <input type="" name="surname" placeholder="surname">
            <input type="" name="phone" placeholder="phone">
            <input type="file" name="image" placeholder="image">
            <input type="submit" name="" placeholder="">
        </form>

        <div>
            <a href="/showAllContacts"> show All Contacts</a>
        </div>


        <form id="f1">
            <input type="" name="name" placeholder="name">
            <input type="" name="surname" placeholder="surname">
            <input type="" name="phone" placeholder="phone">
            <input type="file" name="image" placeholder="image">
            <button id="btn">go!</button>
        </form>


        <script>
            $("#btn").click(function (event) {
                event.preventDefault();

                $.ajax({
                    url: "/upload",
                    type: "POST",
                    data: new FormData($("#f1")[0]),
                    enctype: 'multipart/form-data',
                    processData: false,
                    contentType: false,
                    cache: false,
                    success: function () {
                        console.log('ok');
                    },
                    error: function (err) {
                        console.log(err);
                    }
                });

            })

        </script>

        <!--<div>-->
        <!--<input type="" id="name">-->
        <!--<input type="" id="surname">-->
        <!--<input type="" id="phone">-->
        <!--<button id="saveButton">save</button>-->
        <!--</div>-->


        <!--<div id="representer"></div>-->


        <!--<script>-->
        <!--$("#saveButton").click(function () {-->
        <!--let name = $("#name").val();-->
        <!--let surname = $("#surname").val();-->
        <!--let phone = $("#phone").val();-->
        <!--$("#representer").empty();-->
        <!--$.ajax({-->
        <!--url: '/saveAJAX',-->
        <!--type: 'POST',-->
        <!--contentType: 'application/json',-->
        <!--data: JSON.stringify({name, surname, phone}),-->
        <!--success: function (response) {-->
        <!--console.log(response);-->
        <!--for (const singleContact of response) {-->
        <!--let $div = $('<div/>', {-->
        <!--text: singleContact.id-->
        <!--+ ' '-->
        <!--+ singleContact.name-->
        <!--+ ' '-->
        <!--+ singleContact.surname-->
        <!--+ ' '-->
        <!--+ singleContact.phone-->

        <!--});-->
        <!--$("#representer").append($div);-->
        <!--}-->

        <!--},-->
        <!--error: function (err) {-->
        <!--console.log(err);-->
        <!--}-->
        <!--});-->

        <!--})-->

        <!--</script>-->

    </body>
</html>